.navbar-welcome-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-welcome-text {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.brand-img {
  height: 30px;
}

@media (max-width: 768px) {
  .welcome-text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .custom-navbar .navbar-collapse {
    justify-content: center;
  }

  .container {
    width: 100%;
    justify-content: center;
  }

  .custom-navbar .navbar-collapse {
    justify-content: center;
  }
}
