.dashboard-navbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #285294;
}

.dashboard-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.dashboard-toggle-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-brand-text {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.dashboard-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

button.dashboard-logout {
  color: #ffffff;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
  align-items: center;
  margin-right: 6px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

.dashboard-logout-icon {
  color: #ffffff;
  margin: auto;
  height: 12px;
  margin-right: 2px;
}

@media (max-width: 768px) {
  .dashboard-navbar {
    padding: 0.1rem 0.3rem;
  }
  .dashboard-brand-text,
  .dashboard-welcome,
  .dashboard-logout {
    font-size: 0.65rem;
  }
  .dashboard-logo {
    height: 18px;
  }
}
